{
  "plugins": ["sonarjs"],
  "extends": [
    "prettier",
    "plugin:sonarjs/recommended-legacy",
    "plugin:prettier/recommended",
  ],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": 2023,
    "sourceType": "module",
    "project": ["./tsconfig.json"],
    "requireConfigFile": false,
  },
  "overrides": [
    {
      "files": ["qa-tests/**/*.ts"],
      "parserOptions": {
        "project": "./qa-tests/tsconfig.json",
      },
    },
  ],
  "env": {
    "es6": true,
    "browser": true,
    "node": true,
    "jest": true,
  },
  "rules": {
    "prettier/prettier": [
      "error",
      {
        "semi": true,
      },
    ],
    "no-console": 2,
    "no-undef": 2,
    "no-unused-vars": 2,
    "no-var": 2,
    "no-restricted-syntax": "off",
    "import/no-extraneous-dependencies": 0,
    "class-methods-use-this": "off",
    // "@typescript-eslint/no-floating-promises": "error",
    "import/prefer-default-export": "off",
    "@typescript-eslint/lines-between-class-members": "off",
  },
  "globals": {
    "window": true,
    "document": true,
    "localStorage": true,
    "FormData": true,
    "FileReader": true,
    "Blob": true,
    "navigator": true,
  },
  "ignorePatterns": ["node_modules/"],
}
